<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="WWOKey" value=""/>
    <add key="WWOurl" value="http://api.worldweatheronline.com/premium/v1/"/>
    <add key="OWAKey" value=""/>
    <add key="OWAurl" value="http://api.openweathermap.org/data/2.5/weather?"/>

  </appSettings>
</configuration>
